<p-dataTable [value]="tasks" selectionMode="multiple" [(selection)]="selectedTasks" dataKey="TaskGuid" sortMode="multiple"
    [rows]="10" [paginator]="true" #dt exportFilename="tasks">
    <p-header>
        <div class="ui-helper-clearfix">
            <button icon="fa-file-o" iconpos="left" label="All Data" pbutton="" style="float:left" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
                (click)="dt.exportCSV()">
                <span class="ui-button-icon-left ui-clickable fa fa-fw fa-file-o"></span>
                <span class="ui-button-text ui-clickable">All Data</span>
            </button>
            <button icon="fa-file" iconpos="left" label="Selection Only" pbutton="" style="float:right" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
                (click)="dt.exportCSV({selectionOnly:true})">
                <span class="ui-button-icon-left ui-clickable fa fa-fw fa-file"></span>
                <span class="ui-button-text ui-clickable">Selection Only</span>
            </button>
        </div>
    </p-header>
    <p-column header="" [style]="{width: '30px', 'text-align': 'right'}">
        <ng-template let-rownumber let-index="rowIndex" pTemplate="body">
            <span>{{ index+1 }}</span>
        </ng-template>
    </p-column>
    <p-column field="Name" header="Name" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="Description" header="Description" [sortable]="true" [filter]="true" filterMatchMode="contains"></p-column>
    <p-column field="LastRunAt" header="Last Run At" [sortable]="true" [filter]="true" filterMatchMode="contains">
        <ng-template let-col let-task="rowData" pTemplate="body">
            <span>{{task[col.field] | date: 'short'}}</span>
        </ng-template>
    </p-column>
    <p-footer>
        <ul>
            <li *ngFor="let task of selectedTasks" style="text-align: left">{{task.Name + ' - ' + task.Description + ' - ' + task.LastRunAt}}</li>
        </ul>
    </p-footer>
</p-dataTable>